@model List<Estate>
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheetForIndex.css" />
</head>
<body>
    <div class="text-center bg-secondary">
        <h1 class="intro_title display-4">Best Home For You</h1>
    </div>
    <div class="tabSlider">
        @foreach (Estate estate in @Model)
        {
            <img src="@estate.Image" height="150" width="100" />
            <form class="formIndex" style="padding-block-end: 10px" method="post" asp-route-id="@estate.EstateId" asp-action="CurrentEstate">
                <a class="navbar-brand nav-linkIndex" asp-area="" asp-controller="Home" asp-action="CompanyDetail" asp-route-id="@estate.EstateId"><b>@estate.Company.CompanyName</b></a><br>
                <b>Street: @estate.Street<br></b>
                <b>Price: @estate.Price AMD</b><br>
                <button class="btnIndex btn btn-secondary center-block" type="submit">Learn More</button>
            </form>
        }
    </div>
   
</body>
</html>

